.bigBlock 
{
    width: 100%;
    margin-top: 15px;
    border: 1px solid #2980b9;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
}
.infoInput {
    width: 100%;
}
.conBlock {
    width: 32%;
    height: 30px;
    margin: 8px 0;
    float: left;
}
.conBlockL {
    width: 35%;
    height: 30px;
    float: left;
    
}
.conBlockL h3 {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-weight: bold;
    text-align: right;
}
.conBlockR {
    width: 63%;
    height: 30px;
    float: left;
}
.conBlockR h3 {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-weight: bold;
    text-align: right;
}
.infoCheck {
    margin-top: 25px;
}
.h3bold {
        height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-weight: bold;
    text-align: right;
}
.bigconBlock {
    width: 64%;
    margin: 8px 0;
    float: left;
}